# .gitignore
.env
.venv/
__pycache__/
*.py[cod]
.DS_STORE
.cache
sql_playground/
logs/

# Ignore Jupyter notebook autosave checkpoints
.ipynb_checkpoints/

# Ignore all files in data/...
data/*

# ...but keep the folder and any .gitkeep file
!data/.gitkeep